.chat {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: default;
}

.chat:hover {
    background-color: #CF036515;
}

.chat__avatar {
    margin-right: 12px;
    height: 52px;
    width: 52px;
    flex-shrink: 0;
}

.chat__message {
    height: calc(1.2rem * 1.5 * 2);
    overflow: hidden;
    margin-right: 6px;
}

.chat__message-owner {
    color: #CF0365;
}

.chat__person-name {
    padding-bottom: 2px;
}

.chat__info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    width: 34px;
    flex-shrink: 0;
}

.chat__message-counter {
    margin-bottom: 16px;
}

.chat__message-counter {
    background-color: #CF0365;
    color: white;
    font-size: .9rem;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

.chat__chat-message {
    flex-grow: 1;
}

.chat_status_is-active {
    background-color: #CF036515;
}
